<article class="message is-dark">
  <div class="message-header">
    <p>{{ exam.subjectName }}</p>
  </div>
  <div class="message-body is-clearfix">
    <div class="is-pulled-left">
      <h4 class="has-text-grey">{{ exam.quiz.name }}</h4>
      <p>{{ exam.classroomName }}
        <br>
        <span *ngIf="exam.isSynced">(sync)</span>
        <span *ngIf="!exam.isSynced">Do: {{ exam.openUntil }}</span>
      </p>
    </div>
    <button class="button is-dark is-outlined is-pulled-right" (click)='showResults()'>
      <!--<i class="fa fa-eye"></i>-->
      Detalji
    </button>
  </div>
</article>

