<div> <!-- id="wrapper" -->
  <!-- 
<div *ngIf="ifQuizSelected">
  vratiti ovo studentima na top nav

  -->
  <div *ngIf="(auth.user | async) as user">

    <!-- za profesore -->
    <div>
      <!-- top menu -->
      <nav class="nav has-shadow" *ngIf="user.professor">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item">
              <!-- Website -->
            </a>
          </div>
          <div class="nav-center">
            <a href="/" class="nav-item hero-brand">
              <img src="../assets/images/logo.png" alt="SUP Admin Panel">
            </a>
          </div>
          
          <label for="menu-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </label>
          <input type="checkbox" id="menu-toggle" class="is-hidden"/>
          <div class="nav-right nav-menu">
            <!--
            <a class="nav-item is-tab is-hidden-tablet">
              <span class="icon"><i class="fa fa-home"></i></span> Home
            </a>
            <a class="nav-item is-tab is-hidden-tablet">
              <span class="icon"><i class="fa fa-table"></i></span> Links
            </a>
            <a class="nav-item is-tab is-hidden-tablet">
              <span class="icon"><i class="fa fa-info"></i></span> About
            </a>
            -->
            
            <!--
            <a class="nav-item is-tab is-active">
              <span class="icon"><i class="fa fa-user"></i></span>
            </a>
            <a class="nav-item is-tab">
              <span class="icon"><i class="fa fa-sign-out"></i></span>
            </a>
            -->
          </div>
        </div>
      </nav>



      <!-- side bar nav + user profile -->
      <section [ngClass]="user.professor ? 'float-left' : ''">
      <!-- [ngClass]="user.professor ? 'main-content columns is-fullheight': ''" -->

      <!-- classes = column is-3 is-hidden-mobile -->
        <aside *ngIf="user.professor" 
          class=" is-narrow-mobile is-fullheight section">
          <user-profile></user-profile>

          <hr class="navbar-divider">
          <p class="menu-label is-hidden-touch">Aktivno</p>
          <ul class="menu-list">
            <li>
              <a routerLink="/exams" routerLinkActive="active">
                <span class="icon is-small"><i class="fa fa-table"></i></span>
                Kvizovi
              </a>
            </li>
          </ul>

          <hr class="navbar-divider">
          <p class="menu-label is-hidden-touch">Pregled</p>
          <ul class="menu-list">
            <li>
              <a routerLink="/classrooms">
                <span class="icon is-small"><i class="fa fa-users"></i></span>
                Razredi
              </a>
            </li>
            <li>
              <a routerLink="/stats">
                <span class="icon is-small"><i class="fa fa-list-ol"></i></span>
                Rezultati
              </a>
            </li>
            <li>
              <!--  <a routerLink="/subjects" -->
              <a routerLink="subjects">
                <span class="icon is-small"><i class="fa fa-book"></i></span>
                Predmeti
              </a>
            </li>
          </ul>

          <hr class="navbar-divider">
          <p class="menu-label is-hidden-touch">...</p>
          <ul class="menu-list">
            <li>
              <a (click)="logout()">
                <span class="icon is-small"><i class="fa fa-sign-out"></i></span> Odjava
              </a>
            </li>
          </ul>
        </aside>
      





        <!-- student start -->
      <div *ngIf="!user.professor">
        <section class="hero is-warning grey-dark" *ngIf="ifQuizSelected">
          <!-- Hero content: will be in the middle -->
          <user-profile></user-profile>
          <!-- Hero footer: will stick at the bottom -->
          <top-nav></top-nav>
        </section>
      </div>














      

       

        <!-- MAIN 
        <div [ngClass]="user.professor ? 'container column is-8' : ''">
        </div>
        -->
        
      </section>
    </div>
    <!-- prof ends -->

    



    
  </div>
  
  <!-- (auth.user)?.professor ?  -->

  <div *ngIf="!(auth.user | async)">
    <section class="hero is-light" *ngIf="ifQuizSelected">
      <!-- Hero content: will be in the middle -->
      <user-profile></user-profile>
    </section>
  </div>



    <div [ngClass]="((auth.user | async)?.professor) ? 'float-right' : ''">
      <div>
        <router-outlet></router-outlet>
      </div>
     
    </div>
 
</div>
