<div class="columns is-multiline">
  <!-- if user is logged in -->
  <div *ngIf="(auth.user | async) as user" class="column" [ngClass]="((auth.user | async)?.professor) ? 'is-narrow' : ''">

    <!-- professor is-narrow-mobile is-fullheight section -->
    <div *ngIf="user.professor" class="prof-nav">
      <user-profile></user-profile>
      <professor-nav></professor-nav>
    </div>

    <!-- student start -->
    <div *ngIf="!user.professor">
      <div class="hero is-ligth grey-dark" *ngIf="ifQuizSelected">
        <!-- Hero content: will be in the middle -->
        <user-profile></user-profile>
        <!-- Hero footer: will stick at the bottom -->
        <top-nav></top-nav>
      </div>
    </div>

  </div>


  <!-- if user is not logged in = nothing-->


  <!-- router outlet -->
  <div class="column" [ngClass]="((auth.user | async)?.professor) ? '' : 'is-full'">
    <router-outlet></router-outlet>
  </div>

</div>