@import "/../styles/variables";

.prof-nav {
   padding: 3%;
   -webkit-box-shadow: -1px -2px 7px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px -2px 7px 0px rgba(0,0,0,0.5);
    box-shadow: -1px -2px 7px 0px rgba(0,0,0,0.5);
}

.grey-dark {
    color: hsl(0, 0%, 29%);
}