.content-header {
  margin: 2%;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: none;
}

.question-removed {
  border: none;
  width: 80%;
  border-radius: 5px;
  border-bottom: 1px solid lightslategray;
  border-top: 1px solid lightslategray;
}

.answer.is-primary {
  background-color: rgba(233, 84, 32, 0.2);
  //rgba(233, 84, 32, 0.3);
}

.answer.is-success {
  background-color: rgba(56, 180, 74, 0.2);
  // plava:
  //rgba(23, 162, 184, 0.2);
  //rgba(56, 180, 74, 0.25);
}

/**** questions and answers ***/
.acc-body-question {
  display: none;
}




/****** modal ******/

.modal-card-title {
  margin: 0;
  text-align: center;
}

.modal .modal-card-head input {
  text-align: center;
}
.modal-card-head p {
  margin: 0;
}

.modal-card-foot {
  justify-content: space-between;
}

/*** add class to the "active" accordion ***/

h1  {
  display: inline;
}

.is-link {
  text-decoration: none;
}

.small-cell {
  width: 0.1%;
  white-space: nowrap;
}

