@import "../../../../styles/variables";

.content-header {
  margin: 2%;
}

h1  {
  display: inline;
}

.header-divider {
  margin: 0.5rem 0 1rem 0;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: none;
  background-color: transparent;
}

.is-link {
  text-decoration: none;
}

.small-cell {
  width: 0.1%;
  white-space: nowrap;
}

/*** answers ***/

.acc-body-question {
  display: none;
}

.answer.is-primary {
  background-color: rgba(233, 84, 32, 0.2);
}

.answer.is-success {
  background-color: rgba(56, 180, 74, 0.2);
}

/****** modal ******/

.modal-card-title {
  margin: 0;
  text-align: center;
}

.modal .modal-card-head input {
  text-align: center;
}
.modal-card-head p {
  margin: 0;
}

.modal-card-foot {
  justify-content: space-between;
}