/*** answers ***/

.acc-header-question {
  border-width: 2px;
}

.acc-header-question:focus {
  border-width: 1px;
}

.acc-body-question {
  display: none;
}

.answer {
  width: 45%;
}

.answer.is-danger {
  background-color: rgba(233, 84, 32, 0.2);
}

.answer.is-success {
  background-color: rgba(56, 180, 74, 0.2);
}