/**** opacity for classroom codes ****/

.opacity {
  color: rgba(34, 34, 34, 0.5);
  padding-left: 3%;
}

.acc-header:focus .opacity, .acc-header:hover .opacity {
  color: rgba(204, 204, 204, 0.5);
}