@import "../../styles/variables";

.content-header {
  margin: 2%;
}

h1  {
  display: inline;
}

.header-divider {
  margin: 0.5rem 0 1rem 0;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: none;
  background-color: transparent;
}

.is-link {
  text-decoration: none;
}


/*** modals ***/

.modal-card-title, .modal-card-head input {
  text-align: center;
}

.modal-card-foot {
  justify-content: space-between;
}


/*** tables ***/

.small-cell {
  width: 0.1%;
  white-space: nowrap;
}