
// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// 2. Set your own initial variables
@import "./styles/loading.scss";
@import "./styles/smartup.scss";

// rest of the bulma - makes problems:
// @import "~bulma";



/*
$link: #17A2B8;
$primary: #E95420;
$dark: rgb(68, 67, 67);


$warning: rgba(247, 197, 159, 0.7);
$warning: rgb(244, 170, 143);
$warning-invert: $dark;
*/

// 3. Set the derived variables
// Use the new pink as the primary color
// $primary: $orange;
// Use the existing orange as the danger color
// $danger: $orange;


// 6. Import the rest of Bulma
// @import "~bulma";