.button {
  border-radius: 0;
  margin: 10px 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.acc-header {
  margin: 0;
  width: 100%;
  border-radius: 15px;
  padding: 3%;
  transition: 0.4;
  transition: border-radius 0.1s ease-out;
  text-align: left !important;
  line-height: 4px;

 // background-color: #828282;
 // background-color: #772953;
}

/* removed for now */
.acc-header-removed:after {
  font-family: FontAwesome;
  content: '\f078';
  float: right;
}

.acc-body {
  margin: 0;
  padding: 0;
  width: 100%;
  
  border-radius: 0 0 15px 15px;
 // border-color: #828282;
//  border-color: #772953;
  border-style: solid;
  border-width: 0px;

  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.2s ease-out, padding 0.1s;
}

.table-head {
  margin-top: 4%;
  display: inline-block;
}


.acc-header:focus .opacity, .acc-header:hover .opacity {
 // color: rgba(232, 168, 234, 0.5);
}